@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
  background: none;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
a {
  text-decoration: none;
  cursor: pointer;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Regular"), local("Graphik-LCG-Regular"), url("../fonts/GraphikLCG-Regular.woff2") format("woff2"), url("../fonts/GraphikLCG-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Medium"), local("Graphik-LCG-Medium"), url("../fonts/GraphikLCG-Medium.woff2") format("woff2"), url("../fonts/GraphikLCG-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Graphik LCG";
  src: local("Graphik LCG Bold"), local("Graphik-LCG-Bold"), url("../fonts/GraphikLCG-Bold.woff2") format("woff2"), url("../fonts/GraphikLCG-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("./ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("./fonts/slick.eot");
  src: url("./fonts/slick.eot?#iefix") format("embedded-opentype"), url("./fonts/slick.woff") format("woff"), url("./fonts/slick.ttf") format("truetype"), url("./fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Arrows */
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Слайдер */
/* Слайдер запущен */
/* Слайдер с точками */
/* Ограничивающая оболочка */
/* Лента слайдов */
.slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* Слайд */
/* Слайд активный (показывается) */
/* Слайд основной */
/* Слайд по центру */
/* Клонированный слайд */
/* Стрелка */
.slick-arrow {
  width: 32px;
  height: 32px;
  font-size: 0;
  background-color: #22222266;
}

/* Стрелка влево */
/* Стрелка вправо */
/* Стрелка не активная */
/* Точки (булиты) */
.slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

/* Активная точка */
/* Элемент точки */
.slick-dots li button {
  font-size: 0;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: #000;
  opacity: 0.4;
}

.slick-dots li.slick-active button {
  background-color: #fff;
  opacity: 1;
}

html {
  font-size: 16px;
}

p,
h1,
h2,
h3,
a,
picture,
li,
span {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.container {
  max-width: 1248px;
  margin: 0 auto;
}

.go-top-button {
  position: fixed;
  display: block;
  bottom: 40px;
  right: 25px;
  z-index: 50;
  width: 50px;
  height: 50px;
  background-color: #0b4d3c;
  border-radius: 5px;
  line-height: 50px;
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  color: #fff;
  opacity: 0;
}

.go-top-button.show {
  opacity: 0.7;
}

.wrapper {
  background-image: url(../img/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f1f4f6;
}

.grey-button {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 0.875rem;
  padding: 10px 16px;
  border-radius: 4px;
  background-color: #e5e8ee;
  color: #222222;
}

.header {
  margin: 0 auto;
  width: 100%;
  position: absolute;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: 1;
}

.header__upper-box {
  margin: 0 auto;
  max-width: 1248px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  gap: 20px;
  font-weight: 400;
  line-height: 100%;
  color: #fff;
  border-bottom: 1px solid #eee;
}

.header__logo {
  height: 40px;
}

.header__logo img {
  width: 100%;
  height: 100%;
}

.header__border {
  height: 40px;
  width: 1px;
  background-color: #22222266;
}

.header__time {
  font-family: "Roboto", sans-serif;
  font-size: 0.975rem;
}

.header__language {
  margin-left: auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 0.75rem;
  color: #fff;
}

.header__menu {
  margin: 0 auto;
  height: 60px;
  max-width: 1248px;
  border-bottom: 1px solid #eee;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 60px;
  color: #fff;
  font-size: 0.975rem;
}

.header__menu.fixed {
  background-color: white;
  max-width: 100%;
  margin: 0 auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 60px;
}

.header__menu.fixed .header__link {
  color: #222222;
  opacity: 0.7;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
}

.header__link {
  color: #fff;
  opacity: 0.7;
}

.time-date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.header-dropdown__box {
  position: absolute;
  left: 0;
  top: 140px;
  width: 100vw;
  padding: 60px 0;
  background-color: white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  visibility: hidden;
}

.header-dropdown__list {
  max-width: 1248px;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (calc(100% / 16 * 4))[3];
      grid-template-columns: repeat(3, calc(100% / 16 * 4));
  row-gap: 16px;
  -webkit-column-gap: 14px;
          column-gap: 14px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-dropdown__link {
  line-height: normal;
  font-size: 0.975rem;
  color: #444;
}

.header-dropdown__link_inactive {
  color: red;
}

/* Show the dropdown menu on hover */
.header__item:hover .header-dropdown__box {
  visibility: visible;
}

.header-slider {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 0;
}

.header-slider__item {
  position: relative;
}

.header-slider__image img {
  width: 100vw;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.header-slider__navigation {
  font-size: 0;
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
  -webkit-transform: translateY(133px);
          transform: translateY(133px);
  z-index: 100;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 24px;
  border-radius: 2px;
}

.header-slider__dots {
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8px;
  background-color: #22222266;
  border-radius: 2px;
}

.header-slider__arrows {
  border-radius: 2px;
  height: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
}

.header-slider__description {
  overflow: hidden;
  height: 246px;
  position: absolute;
  z-index: 1;
  font-family: "Roboto", sans-serif;
  border-radius: 2px;
  z-index: 100;
  top: -200px;
  left: 50%;
  top: 50%;
  -webkit-transform: translateY(-123px);
          transform: translateY(-123px);
  width: 29%;
}

.header-slider__tag {
  font-size: 0.8125rem;
  line-height: 1rem;
  padding: 4px 12px;
  background-color: #ffffff4d;
  color: #fff;
  margin-bottom: 25px;
}

.header-slider__link {
  color: #fff;
  font-size: 1.625rem;
  line-height: 2.5rem;
}

.header-slider__big {
  font-weight: bold;
}

.header-slider__underlined {
  text-decoration: underline;
}

.pages-buttons__box {
  margin-top: 32px;
}

.pages-buttons__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 14px;
}

.pages-buttons__link {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23%;
          flex: 1 1 23%;
  min-width: 290px;
  height: 140px;
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  overflow: hidden;
}

.pages-buttons__link::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  border: 6px solid transparent;
  border-top: 6px solid #fff;
  border-right: 6px solid #fff;
  opacity: 0.45;
}

.pages-buttons__picture {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.pages-buttons__description {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.pages-buttons__title {
  font-family: "Roboto", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  color: #fff;
}

.news__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 14px;
}

.news__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23%;
          flex: 1 1 23%;
  min-width: 290px;
  height: 170px;
  border-radius: 4px;
  background-color: #fff;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  line-height: 1.125rem;
  color: #222222;
  overflow: hidden;
  padding: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__info {
  font-size: 0.8125rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.news__tag {
  padding: 4px 8px;
}

.news__date {
  color: #777;
}

.section-description {
  margin: 80px 0 24px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  color: #222222;
}

.section-description__link {
  font-size: 0.875rem;
  line-height: 0.875rem;
  padding: 10px 16px;
  border-radius: 4px;
  background-color: #e5e8ee;
  color: #222222;
}

.advertisement__box {
  margin-bottom: 80px;
}

.advertisement__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 14px;
}

.advertisement__link-outside {
  border: 2px solid #fff;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 23%;
          flex: 1 1 23%;
  height: 145px;
  min-width: 290px;
  max-width: 350px;
  height: 170px;
  border-radius: 4px;
  overflow: hidden;
}

.advertisement__picture {
  width: 100%;
  height: 100%;
}

.footer {
  background-color: #fff;
}

.footer-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 40px 0;
  gap: 16px;
  border-bottom: 1px solid #22222280;
}

.footer-menu__list {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 30%;
          flex: 1 1 30%;
  min-width: 270px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.footer-menu a {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #222222;
}

.footer-contacts {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 33%;
          flex: 1 1 33%;
  min-width: 330px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.footer-contacts li {
  width: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #222222;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-contacts__title {
  width: 100%;
  font-weight: bold;
  max-width: 130px;
}

.footer-contacts__email {
  color: #222222;
}

.footer-contacts__icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
}

.footer-contacts__icon a {
  width: 22px;
  height: 22px;
  background-color: red;
  border-radius: 5px;
}

.copyright {
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  line-height: 1rem;
  color: #22222280;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 32px 0;
}

.copyright__made-by {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.copyright__made-by a {
  margin: 0 5px;
}
