.header {
    color: $grey;

    &__border {
        height: 40px;
        width: 1px;
        background-color: #eeeeee4d;
    }
    &__language {
        color: $grey;
    }

    &__menu {
        border-top: 1px solid #eeeeee4d;
        border-bottom: 1px solid #eeeeee4d;
        &.fixed {
            background-color: #fff;
        }
    }

    &__link {
        color: $grey;
    }
}

.current {
    &::before {
        background: $grey;
    }
}
