.popup {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    top: 0;
    left: 0;
    opacity: 0;
    visibility: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    transition: all 0.8s ease 0s;
    z-index: 100;
    &.open {
        opacity: 1;
        visibility: visible;
    }
    &.open .popup__content {
        transform: perspective(600px) translate(0px, 0%) rotateX(0deg);
        opacity: 1;
    }

    &__area {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    &__body {
        min-height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 30px 10px;
        transition: all 0.8s ease 0s;
    }
    &__content {
        border-radius: 4px;
        background-color: $white;
        font-size: $font;
        color: $grey;
        font-size: $f17;
        line-height: $f24;
        padding: 24px;
        max-width: 800px;
        position: relative;
        transition: all 0.8s ease 0s;
        opacity: 0;
        transform: perspective(600px) translate(0px, -100%) rotateX(45deg);
    }
    &__content_image {
        padding: 0;
    }
    &__image img {
        max-width: 100%;
        vertical-align: top;
    }

    &__close {
        position: absolute;
        right: 10px;
        top: 10px;
        font-size: $f20;
        color: $grey;
        font-weight: bold;
        text-decoration: none;
    }
    &__title {
        font-size: $f28;
        width: 100%;
        text-align: center;
        margin-bottom: 24px;
        color: $rivne-red;
        font-weight: bold;
    }
    &__text {
    }
}

body.lock {
    overflow: hidden;
}
