@import "_null.scss";
@import "_fonts.scss";

// $f190: calc(80px + 110 * ((100vw - 420px) / (1440 - 420)));
// $f100: calc(60px + 40 * ((100vw - 420px) / (1440 - 420)));

//! Same
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
p,
h1,
h2,
h3,
a,
picture,
li,
span {
    display: block;
    width: fit-content;
}
$font: "Roboto", sans-serif;
$f12: 0.75rem;
$f13: 0.8125rem;
$f14: 0.875rem;
$f15: 0.975rem;
$f16: 1rem;
$f17: 1.0625rem;
$f18: 1.125rem;
$f24: 1.5rem;
$f26: 1.625rem;
$f28: 1.75rem;
$mw: 1184px;
$grey: #222222;
.container {
    max-width: $mw;
    margin: 0 auto;
    padding: 0 7px;
}
//todo Go-top-button
.go-top-button {
    position: fixed;
    display: block;
    bottom: 40px;
    right: 25px;
    z-index: 50;
    width: 50px;
    height: 50px;
    background-color: #0b4d3c;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    opacity: 0;
    &.show {
        opacity: 0.7;
    }
}
.grey-button {
    font-family: $font;
    font-size: $f14;
    line-height: $f14;
    padding: 10px 16px;
    border-radius: 4px;
    background-color: #e5e8ee;
    color: $grey;
}
.section-description {
    margin: 80px 0 24px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: $font;
    font-size: $f24;
    color: $grey;

    &__title {
    }

    &__link {
        font-size: $f14;
        line-height: $f14;
        padding: 10px 16px;
        border-radius: 4px;
        background-color: #e5e8ee;
        color: $grey;
    }
}
//todo Header
header:hover:before {
    opacity: 1;
    visibility: visible;
}
header:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    // top: 0;
    top: 140px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
}
.header {
    width: 100%;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 100;
    font-family: $font;
    font-size: $f15;
    color: #fff;
    &__upper-box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 80px;
        gap: 20px;

        font-weight: 400;
        line-height: 100%;
    }

    &__logo {
        height: 40px;
        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__border {
        height: 40px;
        width: 1px;
        background-color: #eee;
    }
    &__language {
        cursor: pointer;
        margin-left: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: $f12;
        color: #fff;
    }

    &__menu {
        height: 60px;
        border-top: 1px solid #eee;
        border-bottom: 1px solid #eee;
        font-weight: 400;
        line-height: 60px;

        &.fixed {
            background-color: #fff;
            margin: 0 auto;
            width: 100%;
            position: fixed;
            top: 0;
            height: 60px;
            & .header__link {
                color: $grey;
                opacity: 0.7;
            }
            & .header-dropdown {
                top: 60px;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 24px;
    }

    &__link {
        color: #fff;
        opacity: 0.7;
    }
}
.time-date {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    & span:nth-child(1) {
        margin-right: 20px;
    }
}
.header-dropdown {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 140px;
    width: 100%;
    padding: 60px 0;
    background-color: #fff;
    height: fit-content;
    visibility: hidden;
    &.fixed {
        position: fixed;
    }

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 14px;
    }

    &__list {
        width: 25%;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 16px;
    }

    &__link {
        line-height: normal;
        font-size: $f15;
        color: #444;
        &_inactive {
            color: #777;
        }
    }
}
/* Show the dropdown menu on hover */
.header__item_dropdown:hover .header-dropdown {
    visibility: visible;
}
//todo Pages buttons
.pages-buttons {
    &__box {
        padding: 24px 0;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 14px;
    }

    &__link {
        flex: 1 1 23%;
        min-width: 210px;
        height: 140px;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            top: 8px;
            right: 8px;
            border: 6px solid transparent;
            border-top: 6px solid #fff;
            border-right: 6px solid #fff;
            opacity: 0.45;
        }
    }

    &__picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & span::before {
            color: #fff;
            font-size: 20px;
        }
    }

    &__title {
        margin-top: 16px;
        font-family: $font;
        font-size: $f18;
        line-height: 1.5rem;
        color: #fff;
    }
}
//todo footer
.footer {
    background-color: #fff;
    &__lower-box {
    }

    &__made-by {
    }
}
.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 40px 0;
    gap: 16px;
    border-bottom: 1px solid #22222280;
    &__list {
        flex: 1 1 30%;
        min-width: 270px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    & a {
        font-family: $font;
        font-size: $f14;
        line-height: $f16;
        color: $grey;
    }
}
.footer-contacts {
    flex: 1 1 33%;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    & li {
        width: 100%;
        font-family: $font;
        font-size: $f14;
        line-height: $f16;
        color: $grey;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    &__title {
        width: 100%;
        font-weight: bold;
        max-width: 130px;
    }

    &__email {
        color: $grey;
    }

    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }

    &__icon {
        & span::before {
            font-size: 20px;
        }
    }
}
//todo Copyright
.copyright {
    font-family: $font;
    font-size: $f14;
    line-height: $f16;
    color: $grey 80;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    &__info {
    }

    &__made-by {
        display: flex;
        flex-direction: row;
        justify-content: center;
        & a {
            margin: 0 5px;
        }
    }
}
//! Same

//! Non-main page
.header a,
.header,
.header__language {
    color: $grey;
}
.wrapper {
    background: #fff;
}
.current {
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 1px;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 1px 1px 0 0;
        background: #222222;
    }
}
.breadcrumbs {
    font-family: $font;
    font-size: $f13;
    line-height: $f15;
    color: #777;
    margin-top: 140px;
    padding: 40px 0;
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        & a {
            display: inline-block;
            color: #222222;
        }
        & span {
            display: inline-block;
            &::before {
                font-size: 10px;
                color: $grey;
                margin: 0 10px;
            }
        }
    }
}
.import {
    background-color: #fff;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
//! Non-main page

.info-aside {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5%;
}
.side-menu {
    flex: 1 1 15%;
    align-self: flex-start;
    min-width: 250px;
    width: 250px;
    font-family: $font;
    display: flex;
    flex-direction: column;
    gap: 16px;
    position: sticky;
    top: 80px;
    &__box {
        background-color: #dbdee640;
        border-radius: 4px;
    }

    &__title {
        width: 100%;
        padding: 24px;
        font-size: $f16;
        line-height: $f17;
        font-weight: bold;
        color: $grey;
        border-bottom: 1px solid #e6e6e6;
        & span {
            display: inline-block;
            &::before {
                font-size: 14px;
                color: $grey;
                margin-right: 10px;
            }
        }
    }

    &__ancors {
        padding: 24px;
    }

    &__list {
        display: flex;
        flex-direction: column;
        gap: 12px;
    }

    &__ancor {
        color: #777;
        font-size: $f15;
        line-height: $f16;
    }

    &__link {
        padding: 24px;
        position: relative;
        border-bottom: 1px solid #e6e6e6;
        &::before {
            content: "";
            position: absolute;
            top: 8px;
            right: 8px;
            border: 6px solid transparent;
            border-top: 6px solid #dbdee6;
            border-right: 6px solid #dbdee6;
        }
        &:last-child {
            border-bottom: none;
        }
    }

    &__small-title {
        font-size: $f15;
        font-weight: bold;
        color: $grey;
        margin-bottom: 10px;
    }

    &__small-description {
        font-size: $f13;
        color: #9b9b9b;
        line-height: $f15;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
.main-info {
    flex: 1 1 60%;
    font-family: $font;
    min-width: 550px;
    padding-bottom: 120px;
    &__title {
        font-size: $f28;
        color: $grey;
        font-weight: bold;
        margin-bottom: 24px;
    }
}
.article {
    color: #444;
    font-size: $f17;
    line-height: $f18;
    margin-bottom: 65px;
    &__title {
        font-size: $f18;
        color: $grey;
        font-weight: bold;
        margin: 40px 0 16px 0;
    }
    &__title-small {
        color: $grey;
        font-weight: bold;
        margin: 16px 0;
    }

    &__text {
        margin: 25px 0;
    }

    &__list {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 8px;
        & li {
            padding-left: 24px;
            position: relative;
            &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                width: 6px;
                height: 6px;
                border-radius: 50%;
                background-color: $grey;
            }
        }
    }
    & a {
        color: #444;
    }
}
