@import "_null.scss";
@import "_fonts.scss";

// $f190: calc(80px + 110 * ((100vw - 420px) / (1440 - 420)));
// $f100: calc(60px + 40 * ((100vw - 420px) / (1440 - 420)));

//! Same
html {
    font-size: 16px;
    scroll-behavior: smooth;
}
p,
h1,
h2,
h3,
a,
picture,
li,
span {
    display: block;
    width: fit-content;
}
$font: "Roboto", sans-serif;
$f12: 0.75rem;
$f13: 0.8125rem;
$f14: 0.875rem;
$f15: 0.975rem;
$f16: 1rem;
$f17: 1.0625rem;
$f18: 1.125rem;
$f24: 1.5rem;
$f26: 1.625rem;
$f28: 1.75rem;
$mw: 1184px;
$grey: #222222;

.container {
    max-width: $mw;
    margin: 0 auto;
    padding: 0 7px;
}
//todo Go-top-button
.go-top-button {
    position: fixed;
    display: block;
    bottom: 40px;
    right: 25px;
    z-index: 50;
    width: 50px;
    height: 50px;
    background-color: #0b4d3c;
    border-radius: 5px;
    line-height: 50px;
    text-align: center;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    color: #fff;
    opacity: 0;
    &.show {
        opacity: 0.7;
    }
}
.grey-button {
    font-size: $f14;
    line-height: $f14;
    padding: 10px 16px;
    border-radius: 4px;
    background-color: #e5e8ee;
    color: $grey;
}
.section-description {
    margin: 80px 0 24px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-size: $f24;
    color: $grey;

    &__title {
    }

    &__link {
        font-size: $f14;
        line-height: $f14;
        padding: 10px 16px;
        border-radius: 4px;
        background-color: #e5e8ee;
        color: $grey;
    }
}
//todo Header
header:hover:before {
    opacity: 1;
    visibility: visible;
}
header:before {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    // top: 0;
    top: 140px;
    background: rgba(0, 0, 0, 0.2);
    opacity: 0;
    visibility: hidden;
    -moz-transition: all 0.3s;
    -o-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    pointer-events: none;
}

//! Changed color
.header {
    width: 100%;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    z-index: 100;
    font-size: $f15;
    color: #fff;
    &__upper-box {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        height: 80px;
        gap: 20px;

        font-weight: 400;
        line-height: 100%;
    }

    &__logo {
        height: 40px;
        & img {
            width: 100%;
            height: 100%;
        }
    }

    &__border {
        height: 40px;
        width: 1px;
        background-color: #eee;
    }
    &__language {
        cursor: pointer;
        margin-left: auto;
        font-family: Arial, Helvetica, sans-serif;
        font-size: $f12;
        color: #fff;
    }

    &__menu {
        height: 60px;
        border-top: 1px solid #eeeeee80;
        border-bottom: 1px solid #eeeeee80;
        font-weight: 400;
        line-height: 60px;

        &.fixed {
            background-color: #fff;
            margin: 0 auto;
            width: 100%;
            position: fixed;
            top: 0;
            height: 60px;
            & .header__link {
                color: $grey;
                opacity: 0.7;
            }
            & .header-dropdown {
                top: 60px;
            }
        }
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
        gap: 24px;
    }

    &__link {
        color: #fff;
        opacity: 0.7;
    }
}
.time-date {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 10px;
    & span:nth-child(1) {
        margin-right: 20px;
    }
}
.header-dropdown {
    z-index: 2;
    position: absolute;
    left: 0;
    top: 140px;
    width: 100%;
    padding: 60px 0;
    background-color: #fff;
    height: fit-content;
    visibility: hidden;
    &.fixed {
        position: fixed;
    }

    &__box {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 14px;
    }

    &__list {
        width: 25%;
        min-width: 250px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 16px;
    }

    &__link {
        line-height: normal;
        font-size: $f15;
        color: #444;
        &_inactive {
            color: #777;
        }
    }
}
/* Show the dropdown menu on hover */
.header__item_dropdown:hover .header-dropdown {
    visibility: visible;
}
//todo Pages buttons
.pages-buttons {
    &__box {
        padding: 24px 0;
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 14px;
    }

    &__link {
        flex: 1 1 23%;
        min-width: 210px;
        height: 140px;
        position: relative;
        width: 100%;
        height: 100%;
        border-radius: 4px;
        overflow: hidden;
        &::before {
            content: "";
            position: absolute;
            top: 8px;
            right: 8px;
            border: 6px solid transparent;
            border-top: 6px solid #fff;
            border-right: 6px solid #fff;
            opacity: 0.45;
        }
    }

    &__picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        & span::before {
            color: #fff;
            font-size: 20px;
        }
    }

    &__title {
        margin-top: 16px;

        font-size: $f18;
        line-height: 1.5rem;
        color: #fff;
    }
}
//todo footer
.footer {
    background-color: #fff;
    &__lower-box {
    }

    &__made-by {
    }
}
.footer-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 40px 0;
    gap: 16px;
    border-bottom: 1px solid #22222280;
    &__list {
        flex: 1 1 30%;
        min-width: 270px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    & a {
        font-size: $f14;
        line-height: $f16;
        color: $grey;
    }
}
.footer-contacts {
    flex: 1 1 33%;
    min-width: 330px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    & li {
        width: 100%;

        font-size: $f14;
        line-height: $f16;
        color: $grey;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: center;
    }

    &__title {
        width: 100%;
        font-weight: bold;
        max-width: 130px;
    }

    &__email {
        color: $grey;
    }

    &__icons {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 16px;
    }

    &__icon {
        & span::before {
            font-size: 20px;
        }
    }
}
//todo Copyright
.copyright {
    font-size: $f14;
    line-height: $f16;
    color: $grey 80;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 32px 0;
    &__info {
    }

    &__made-by {
        display: flex;
        flex-direction: row;
        justify-content: center;
        & a {
            margin: 0 5px;
        }
    }
}
//! Same

//! Non-main page
.header a,
.header,
.header__language {
    // color: $grey;
}
.wrapper {
    background-image: url(../img/background.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #f1f4f6;
    font-family: $font;
}
.current {
    position: relative;
    &::before {
        content: "";
        display: block;
        position: absolute;
        z-index: 10;
        bottom: 1px;
        left: 0;
        width: 100%;
        height: 4px;
        border-radius: 1px 1px 0 0;
        background: #fff;
    }
}
//! Changed color
.breadcrumbs {
    font-size: $f13;
    line-height: $f15;
    color: #fff;
    margin-top: 140px;
    padding: 40px 0;
    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        & a {
            display: inline-block;
            color: #fff;
        }
        & span {
            display: inline-block;
            &::before {
                font-size: 10px;
                color: $grey;
                margin: 0 10px;
            }
        }
    }
}
.section-title {
    font-size: $f28;
    color: #222;
    font-weight: bold;
}
.section-title {
    color: #fff;
}
.import {
    background-color: #fff;
    border-top: 1px solid #eeeeee;
    border-bottom: 1px solid #eeeeee;
}
//! Non-main page

.background {
    width: 100%;
    height: 485px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;

    background-image: url(../img/shoppingBG.jpg);
    background-size: 100% 100%;
    background-size: cover;
    background-position: center center;
    &::after {
        background: #22222299;
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
}

main {
    position: relative;
    z-index: 1;
}

.shopping {
    &__box {
        padding: 200px 0 120px 0;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
        flex-wrap: wrap;
        gap: 15px;
    }
}
.shopping-card {
    flex: 1 1 48%;
    min-width: 340px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    border-radius: 10px;
    background-color: #fff;
    overflow: hidden;

    &__img {
        flex: 1 1 50%;
        min-width: 250px;
        width: 100%;
        height: 100%;
        min-height: 270px;
        background-image: url(../img/shop-card.jpg);
        background-size: cover;
    }
    &__description {
        flex: 1 1 50%;
        padding: 24px;
    }

    &__title {
        color: $grey;
        padding-bottom: 24px;
        & span {
            color: #777;
            font-size: $f15;
            line-height: $f18;
        }
        & h2 {
            font-size: $f18;
            line-height: $f24;
        }
    }

    &__schedule {
        border-top: 1px solid #eeeeee;
        border-bottom: 1px solid #eeeeee;
        font-size: $f14;
        line-height: $f17;
        padding: 16px 0;
        & span {
            display: inline-block;
        }
    }

    &__location {
        font-size: $f15;
        line-height: $f18;
        padding-top: 24px;
        & h3 {
            margin-bottom: 10px;
        }
        & span {
            color: #777;
        }
    }
}
.icon-clock {
}
