@import "_null.scss";
@import "_fonts.scss";
@import "_slick-theme.scss";
@import "_slick.scss";
@import "_sliders.scss";
@import "_main-same.scss";
@import "_header-container-same.scss";
@import "_pages-buttons-footer.scss";

.ready-pages {
    border-radius: 4px;
    border: 1px solid $rivne-red;
    display: block;
    position: fixed;
    right: 25px;
    top: 75px;
    width: fit-content;
    height: fit-content;
    background-color: $white;
    & a {
        color: #000;
        padding: 7px 10px;
    }
    z-index: 100500;
}

//! Unique
//todo Header-slider
.header-slider {
    position: relative;
    width: 100%;
    height: 90vh;
    z-index: 0;
    &__list {
    }

    &__item {
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background-color: #000;
            opacity: 0.3;
            z-index: 0;
        }
    }

    img {
        width: 100%;
        height: 90vh;
        object-fit: cover;
    }

    &__navigation {
        font-size: 0;
        position: absolute;
        z-index: 10;
        left: 50%;
        top: 50%;
        transform: translate(-50%, calc(-50% + 150px));

        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 24px;
        border-radius: 2px;
    }
    &__dots {
        height: 32px;
        display: flex;
        align-items: center;
        padding: 8px;
        background-color: $grey 99;
        border-radius: 2px;
    }
    &__arrows {
        border-radius: 2px;
        height: 32px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }

    &__description {
        overflow: hidden;
        height: 250px;
        position: absolute;
        border-radius: 2px;
        z-index: 10;
        max-width: 350px;
        width: 100%;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }

    &__tag {
        font-size: $f13;
        line-height: $f16;
        padding: 4px 12px;
        background-color: #ffffff4d;
        color: $white;
        margin-bottom: 25px;
    }

    &__link {
        color: $white;
        font-size: $f26;
        line-height: 2.5rem;
    }
}

//todo News
.news {
    &__box {
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 14px;
    }
}
.news-card {
    &__img {
        position: relative;
        border-radius: 4px;
        overflow: hidden;
        margin: 16px 0;
        background-image: url(../img/News/news-card-main-BG.png);
        background-position: top right;
        background-size: cover;
        width: 100%;
        height: 200px;
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: $grey;
            opacity: 0.5;
            z-index: 1;
        }
    }
}

.subscription-form {
    height: fit-content;
    min-height: 0;
    flex: 1 1 100%;
    max-width: 714px;
    justify-content: center;
    margin: 0 auto;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    gap: 16px;
    &__input-box {
        flex: 1 1 48%;
        min-width: 200px;
    }

    &__title {
        flex: 1 1 48%;
        min-width: 200px;
    }
    &__button {
        min-height: 47px;
    }
}

//todo Advertisement
.advertisement {
    &__box {
    }

    &__description {
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 14px;
    }

    &__link-outside {
        border: 2px solid $white;
        flex: 1 1 23%;
        height: 145px;
        min-width: 290px;
        height: 170px;
        border-radius: 4px;
        overflow: hidden;
    }

    &__picture {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }
}

@media (max-width: 1024px) {
    .header-slider {
        &__navigation {
            transform: translate(-50%, calc(-50% + 240px));
        }

        &__description {
            overflow: hidden;
            height: 250px;
            position: absolute;
            border-radius: 2px;
            z-index: 10;
            max-width: 350px;
            width: 100%;
            left: 50%;
            top: 50%;
            transform: translate(-50%, calc(-50% + 115px));
        }
        &__arrows {
            display: none;
        }
    }
}
