@import "_null.scss";
@import "_fonts.scss";
@import "_slick-theme.scss";
@import "_slick.scss";
@import "_sliders.scss";
@import "_main-same.scss";
@import "_header-container-same.scss";
@import "_pages-buttons-footer.scss";

.ready-pages {
    display: block;
    position: fixed;
    right: 50px;
    top: 50px;
    width: fit-content;
    height: fit-content;
    background-color: #fff;
    & a {
        color: #000;
        padding: 5px 10px;
    }
    z-index: 100500;
}

//! Unique
//todo Header-slider
.header-slider {
    position: relative;
    width: 100%;
    height: 90vh;
    z-index: 0;
    &__list {
    }

    &__item {
        &::after {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100vh;
            background-color: #000;
            opacity: 0.3;
            z-index: 0;
        }
    }

    img {
        width: 100%;
        height: 90vh;
        object-fit: cover;
    }

    &__navigation {
        font-size: 0;
        position: absolute;
        z-index: 1;
        top: 50%;
        left: 50%;
        transform: translateY(133px);

        width: fit-content;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 24px;
        border-radius: 2px;
    }
    &__dots {
        height: 32px;
        display: flex;
        align-items: center;
        padding: 8px;
        background-color: $grey 99;
        border-radius: 2px;
    }
    &__arrows {
        border-radius: 2px;
        height: 32px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        gap: 8px;
    }

    &__description {
        overflow: hidden;
        height: 246px;
        position: absolute;
        z-index: 1;
        border-radius: 2px;
        z-index: 100;
        top: -200px;
        left: 50%;
        top: 50%;
        transform: translateY(-123px);
        width: 29%;
    }

    &__tag {
        font-size: $f13;
        line-height: $f16;
        padding: 4px 12px;
        background-color: #ffffff4d;
        color: #fff;
        margin-bottom: 25px;
    }

    &__link {
        color: #fff;
        font-size: $f26;
        line-height: 2.5rem;
    }
}

//todo News
.news {
    &__box {
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 14px;
    }
}
.news-card {
    flex: 1 1 23%;
    min-width: 280px;
    height: 170px;
    border-radius: 4px;
    background-color: #fff;
    font-size: $f16;
    line-height: $f18;
    color: $grey;
    overflow: hidden;
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__title {
    }

    &__info {
        font-size: $f13;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    &__tag {
        padding: 4px 8px;
    }

    &__date {
        color: #777;
        & span {
            display: inline-block;
            &::before {
                font-size: 11px;
            }
        }
    }
}

.subscription-form {
    &__input-box {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        border-radius: 4px;
        overflow: hidden;
    }
    &__title {
    }

    &__input {
        width: 100%;
        line-height: 21px;
        padding: 12px;
        border: 1px solid #22222280;
    }
    &__button {
        height: 100%;
        min-width: 45px;
        background-color: #0052d7;
        & span {
            width: 100%;
        }
        & span::before {
            font-size: 20px;
            color: #fff;
        }
    }
}

//todo Advertisement
.advertisement {
    &__box {
        margin-bottom: 80px;
    }

    &__description {
    }

    &__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 14px;
    }

    &__link-outside {
        border: 2px solid #fff;
        flex: 1 1 23%;
        height: 145px;
        min-width: 290px;
        max-width: 350px;
        height: 170px;
        border-radius: 4px;
        overflow: hidden;
    }

    &__picture {
        width: 100%;
        height: 100%;
    }
}
